@import "../../var";

.hello {
  background: black;
  z-index: 100000000;
  font-size: 50px;
  font-weight: bold;
  color: white;
  transition: 1s;
  animation: hello 3s 0.5s both;
  @include media("verySmall") {
    width: 800px !important;
  }
}

@include keyF("hello") {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  40% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0) rotate(3deg);
  }
}
