@import "../../var";
.plans {
  > .row {
    > div {
      > .planBox {
        background-color: var(--main-color);
        text-align: center;
        .price {
          &.priceGreen {
            outline-color: var(--green-color);
          }
          &.priceBlue {
            outline-color: var(--blue-color);
          }
          &.priceOrange {
            outline-color: var(--orange-color);
          }
          border: 5px solid var(--main-color);
          outline: 5px solid transparent;
          h1,
          h2 {
            color: #fff;
          }
        }
        .info {
          border-bottom: 1px solid #eee;
          > .signal {
            > span {
              @include media("mobile") {
                font-size: 0.9rem;
              }
              @media (max-width: 350px) {
                font-size: 0.7rem;
              }
            }
          }
          > i {
            cursor: pointer;
          }
        }
      }
    }
  }
}
