@import "../../var";
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
  border-radius: 45px;
}
::-webkit-scrollbar-track {
  background-color: var(--main-color);
}
body {
  overflow-x: hidden;
}
.Nav {
  width: 200px;
  position: sticky;
  top: 0;
  height: 100vh;
  z-index: 1000000;
  @include media("mobile") {
    width: 50px;
  }
}

.cont {
  width: calc(100% - 200px);
  @include media("mobile") {
    width: calc(100% - 50px);
  }
}
