.courses {
  > .row {
    > .container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      gap: 25px;
      @media (max-width: 567px) {
        grid-template-columns: 1fr;
      }
       .card {
        background-color: var(--main-color);
        > img {
          max-width: 100%;
        }
        > .card-body {
          > h4 {
          }
          > p {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
          }
        }
        .footCard {
          //   background-color: red;
          .courseInfo {
            background-color: var(--blue-color);
            color: #fff;
            padding: 2px 5px;
            border-radius: 5px;
            margin-bottom: 25px;
            position: relative;
            bottom: 47px;
          }
        }
      }
    }
  }
}
