:root {
  --main-color: #fff;
  --text-color: #000;
  --hover-color: #f6f6f6;
  --shadow-color: #ddd;
  --section-color: #f1f5f9;
  --SpText-color: #eb5424;
  --main-transition: 0.5s;
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: var(--text-color);
}
*::-moz-selection {
  color: #fff;
}
*::selection {
  color: #fff;
}

/* Start Color */
.c-black {
  color: black;
}

.c-white {
  color: white;
}

.c-grey {
  color: var(--grey-color);
}

.c-red {
  color: var(--red-color);
}

.c-green {
  color: var(--green-color);
}

.c-blue {
  color: var(--blue-color);
}

.c-orange {
  color: var(--orange-color);
}

.bg-red {
  background-color: var(--red-color);
}

.bg-green {
  background-color: var(--green-color);
}

.bg-blue {
  background-color: var(--blue-color);
}

.bg-orange {
  background-color: var(--orange-color);
}

.bg-white {
  background-color: white;
}

.bg-eee {
  background-color: #eee;
}

.radius {
  border-radius: 15px;
}

header {
  background-color: var(--main-color);
  box-shadow: 0px 1px 9px var(--shadow-color);
}
header > .searchInput > input {
  outline: none;
  width: 160px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  padding-left: 25px;
  transition: padding, width, 0.3s;
  background-color: var(--main-color);
  text-transform: capitalize;
}
header > .searchInput > input:focus {
  width: 200px;
  padding-left: 30px;
}
header > .searchInput > input::-moz-placeholder {
  color: var(--text-color);
  text-transform: capitalize;
}
header > .searchInput > input:-ms-input-placeholder {
  color: var(--text-color);
  text-transform: capitalize;
}
header > .searchInput > input::placeholder {
  color: var(--text-color);
  text-transform: capitalize;
}
header > .searchInput > .searchIcon {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-color);
}
header > .account > .LightNight {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  margin-right: 10px;
  padding: 10px 5px;
  border-radius: 30px;
  background-color: var(--text-color);
}
header > .account > .LightNight > span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  background-color: var(--main-color);
  transform: translateX(2.5rem);
  transition: 0.3s;
}
header > .account > .LightNight > .theme {
  color: var(--main-color);
  font-size: 21px;
  cursor: pointer;
}
header > .account > span {
  position: relative;
}
header > .account > span > .notification {
  font-size: 22px;
}
header > .account > span::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  right: -3px;
  top: -3px;
}
header > .account > .accountImage > img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}/*# sourceMappingURL=Header.css.map */