@import "../../var";
header {
  background-color: var(--main-color);
  box-shadow: 0px 1px 9px var(--shadow-color);
  position: sticky;
  top: 0;
  z-index: 1000000;
  > .searchInput {
    > input {
      outline: none;
      width: 180px;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-size: 14px;
      padding-left: 25px;
      transition: padding, width, 0.3s;
      background-color: var(--main-color);
      text-transform: capitalize;
      @include media("verySmall") {
        width: 150px;
      }
      &:focus {
        width: 200px;
        padding-left: 30px;
        @include media("verySmall") {
          width: 170px;
        }
      }
      &::placeholder {
        color: var(--text-color);
        text-transform: capitalize;
      }
    }
    > .searchIcon {
      position: absolute;
      left: 6px;
      top: 50%;
      transform: translateY(-50%);
      color: var(--text-color);
    }
  }
  > .account {
    > .LightNight {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80px;
      margin-right: 10px;
      padding: 10px 5px;
      border-radius: 30px;
      background-color: var(--text-color);
      > span {
        @include circle(30px);
        position: absolute;
        cursor: pointer;
        background-color: var(--main-color);
        transform: translateX(2.5rem);
        transition: 0.3s;
      }
      > .theme {
        color: var(--main-color);
        font-size: 21px;
        cursor: pointer;
      }
    }
    > span {
      position: relative;
      > .notification {
        font-size: 22px;
      }
      &::before {
        content: "";
        position: absolute;
        @include circle(10px);
        background-color: red;
        right: -3px;
        top: -3px;
      }
    }
    > .accountImage {
      > img {
        @include circle(32px);
      }
    }
  }
}
