@import "../../var";
.friends {
  > .row {
    .box {
      background-color: var(--main-color);
      > .icons {
        > i {
          background-color: #eee;
          padding: 10px;
          color: #666;
          font-size: 13px;
          cursor: pointer;
          transition: 0.3s;
          border-radius: 50%;
          &:hover {
            background-color: var(--blue-color);
            color: #fff;
          }
        }
      }
      > .textAndImage {
        > img {
          @include circle(100px);
        }
        > h4 {
        }
        > p {
        }
      }
      > .info {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        > div {
          position: relative;
          > i {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
          > span {
          }
        }
      }
      > .foot {
        > span {
        }
        .links {
          > a {
            text-decoration: none;
            padding: 4px 6px;
          }
          > button {
            border: none;
            padding: 3px 5px;
          }
        }
      }
    }
  }
}
