:root {
  --main-color: #fff;
  --text-color: #000;
  --hover-color: #f6f6f6;
  --shadow-color: #ddd;
  --section-color: #f1f5f9;
  --SpText-color: #eb5424;
  --main-transition: 0.5s;
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: var(--text-color);
}
*::-moz-selection {
  background-color: var(--text-color);
  color: var(--main-color);
}
*::selection {
  background-color: var(--text-color);
  color: var(--main-color);
}

/* Start Color */
.c-black {
  color: black;
}

.c-white {
  color: white;
}

.c-grey {
  color: var(--grey-color);
}

.c-red {
  color: var(--red-color);
}

.c-green {
  color: var(--green-color);
}

.c-blue {
  color: var(--blue-color);
}

.c-orange {
  color: var(--orange-color);
}

.bg-red {
  background-color: var(--red-color);
}

.bg-green {
  background-color: var(--green-color);
}

.bg-blue {
  background-color: var(--blue-color);
}

.bg-orange {
  background-color: var(--orange-color);
}

.bg-white {
  background-color: white;
}

.bg-eee {
  background-color: #eee;
}

.radius {
  border-radius: 15px;
}

.dashboard .row > div {
  height: 450px;
}
.dashboard .row > div > div {
  border-radius: 15px;
  background-color: var(--main-color);
}
.dashboard > .parent .Container {
  border-radius: 15px;
  background-color: var(--main-color);
  overflow: hidden;
  padding-bottom: 25px !important;
}
.dashboard > .parent .Container > div:first-child {
  background: #a1a1a1;
}
.dashboard > .parent .Container > div:first-child > img {
  width: 200px;
}
.dashboard > .parent .Container > img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  left: 15px;
  top: -35px;
  border: 2px solid white;
  box-shadow: 0 0 5px var(--shadow-color);
  position: relative;
}
@media (max-width:767px) {
  .dashboard > .parent .Container > img {
    left: 50%;
    transform: translateX(-50%);
  }
}
.dashboard > .parent .Container .info {
  border-top: 1px solid #a1a1a1;
  border-bottom: 1px solid #a1a1a1;
}
.dashboard > .parent .Container > a {
  background: var(--text-color);
  color: var(--main-color);
  padding: 5px 8px;
  border-radius: 9px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin: 42px 10px 0px auto;
}
.dashboard .quickDraftParent .quickDraft {
  background-color: var(--main-color);
  border-radius: 15px;
}
.dashboard .quickDraftParent .quickDraft form input:first-child,
.dashboard .quickDraftParent .quickDraft form textarea {
  background-color: #a1a1a1;
  color: var(--main-color);
  outline: none;
  border-radius: 6px;
  padding: 10px;
}
.dashboard .quickDraftParent .quickDraft form input:first-child::-moz-placeholder, .dashboard .quickDraftParent .quickDraft form textarea::-moz-placeholder {
  color: var(--main-color);
}
.dashboard .quickDraftParent .quickDraft form input:first-child:-ms-input-placeholder, .dashboard .quickDraftParent .quickDraft form textarea:-ms-input-placeholder {
  color: var(--main-color);
}
.dashboard .quickDraftParent .quickDraft form input:first-child::placeholder,
.dashboard .quickDraftParent .quickDraft form textarea::placeholder {
  color: var(--main-color);
}
.dashboard .quickDraftParent .quickDraft form textarea {
  height: 200px;
}
.dashboard .quickDraftParent .quickDraft form input:last-child {
  align-self: flex-end;
  padding: 5px 8px;
  border-radius: 9px;
  border: none;
  background-color: var(--text-color);
  color: var(--main-color);
}
.dashboard .tickets {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-color);
}
@media (max-width:1199px) {
  .dashboard .tickets {
    height: auto !important;
  }
}
.dashboard .tickets section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  width: 100%;
  flex: 1;
}
@media (max-width:1199px) {
  .dashboard .tickets section {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    height: auto;
  }
}
.dashboard .tickets section > div {
  border: 1px solid #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
}
.dashboard .tickets > p {
  align-self: flex-start;
}
@media (max-width:767px) {
  .dashboard .news > p > h4 {
    text-align: center;
  }
}
.dashboard .news > .newsPart:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.dashboard .news > .newsPart > .cont > img {
  width: 100px;
  border-radius: 6px;
}
.dashboard .news > .newsPart > span {
  background-color: var(--text-color);
  color: var(--main-color);
  border-radius: 6px;
  padding: 3px 5px;
}
.dashboard .tasks > .childAttend {
  opacity: 0.5;
  cursor: not-allowed;
}
.dashboard .tasks > .childAttend h5 {
  text-decoration: line-through;
}
.dashboard .tasks > .Child:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.dashboard .tasks > .Child > .delete {
  cursor: pointer;
}
.dashboard .search .ItemsNum {
  width: 50px;
  background-color: #eee;
  color: #000;
  display: grid;
  place-items: center;
  border-radius: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.dashboard .upload > .uploadChild:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.dashboard .upload > .uploadChild > .info > img {
  width: 50px;
}
.dashboard .upload > .uploadChild > span {
  background-color: #eee;
  border-radius: 6px;
}
.dashboard .project {
  position: relative;
}
.dashboard .project > ul {
  position: relative;
}
.dashboard .project > ul::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 3px;
  width: 2px;
  height: 98%;
  background-color: var(--blue-color);
}
.dashboard .project > ul > li {
  font-size: 1.2rem;
  position: relative;
  padding-left: 30px;
}
.dashboard .project > ul > li::before {
  content: "";
  position: absolute;
  left: -7px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--blue-color);
  border: 2px solid var(--main-color);
  outline: 2px solid var(--blue-color);
}
.dashboard .project > ul > li:nth-child(4)::after {
  content: "";
  position: absolute;
  left: -7px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--main-color);
  -webkit-animation: change-color 1.5s infinite alternate linear;
          animation: change-color 1.5s infinite alternate linear;
}
.dashboard .project > ul > li:nth-child(4)::before {
  content: "";
  position: absolute;
  left: -7px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--main-color);
}
.dashboard .project > ul > li:last-child::before {
  background-color: var(--main-color) !important;
}
.dashboard .project > img {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.1;
  width: 200px;
}
.dashboard .reminders > div:nth-child(2) {
  border-left-color: var(--blue-color);
}
.dashboard .reminders > div:nth-child(3) {
  border-left-color: var(--green-color);
}
.dashboard .reminders > div:nth-child(4) {
  border-left-color: var(--orange-color);
}
.dashboard .reminders > div:last-child {
  border-left-color: var(--red-color);
}
.dashboard .reminders > .RemindersInfo {
  border-left: 2px solid;
  padding-left: 25px;
}
.dashboard .reminders > .RemindersInfo > span:last-child {
  left: -45px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.dashboard .post > .postInfo,
.dashboard .post p {
  border-bottom: 1px solid #ccc;
}
.dashboard .post > .postInfo > img,
.dashboard .post p > img {
  width: 50px;
}
.dashboard .social .socialChild {
  height: 55px;
}
.dashboard .social .socialChild > .info > .icon {
  height: 55px;
  width: 55px;
  display: grid;
  place-items: center;
  margin-right: 15px;
}
.dashboard .social .socialChild > .info > .icon > i {
  color: #fff;
}
.dashboard .social .socialChild > .info > span {
  font-weight: 700;
}
.dashboard .social .socialChild > button {
  border: none;
  margin-right: 10px;
  padding: 3px 5px;
  border-radius: 12px;
  width: 100px;
  color: white;
}
.dashboard .social .socialChild:nth-child(2) {
  background-color: rgba(29, 161, 242, 0.2);
  color: #1da1f2;
}
.dashboard .social .socialChild:nth-child(2) > .info > .icon {
  background-color: #1da1f2;
}
.dashboard .social .socialChild:nth-child(2) > .info > span {
  color: #1da1f2;
}
.dashboard .social .socialChild:nth-child(2) > button {
  background-color: #1da1f2;
}
.dashboard .social .socialChild:nth-child(3) {
  background-color: rgba(29, 161, 242, 0.2);
  color: #1da1f2;
}
.dashboard .social .socialChild:nth-child(3) > .info > .icon {
  background-color: #1877f2;
}
.dashboard .social .socialChild:nth-child(3) > .info > span {
  color: #1da1f2;
}
.dashboard .social .socialChild:nth-child(3) > button {
  background-color: #1877f2;
}
.dashboard .social .socialChild:nth-child(4) {
  background-color: rgba(255, 0, 0, 0.2);
  color: #ff0000;
}
.dashboard .social .socialChild:nth-child(4) > .info > .icon {
  background-color: #ff0000;
}
.dashboard .social .socialChild:nth-child(4) > .info > span {
  color: #ff0000;
}
.dashboard .social .socialChild:nth-child(4) > button {
  background-color: #ff0000;
}
.dashboard .social .socialChild:last-child {
  background-color: rgba(29, 161, 242, 0.2);
  color: #0077b5;
}
.dashboard .social .socialChild:last-child > .info > .icon {
  background-color: #0077b5;
}
.dashboard .social .socialChild:last-child > .info > span {
  color: #0077b5;
}
.dashboard .social .socialChild:last-child > button {
  background-color: #0077b5;
}
.dashboard > footer {
  background-color: var(--main-color);
  overflow-x: auto;
  border-radius: 15px;
}
.dashboard > footer table {
  min-width: 1000px;
}
.dashboard > footer table > thead > tr > th {
  padding: 20px 15px;
  color: #111;
}
.dashboard > footer table > tbody > tr > td {
  padding: 20px 15px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.dashboard > footer table > tbody > tr > td > span {
  border-radius: 6px;
}
.dashboard > footer table > tbody > tr > td.image img {
  width: 30px;
}

@keyframes change-color {
  0% {
    background-color: rgba(0, 119, 255, 0);
  }
  100% {
    background-color: #0077ff;
  }
}
@-webkit-keyframes change-color {
  0% {
    background-color: rgba(0, 119, 255, 0);
  }
  100% {
    background-color: #0077ff;
  }
}/*# sourceMappingURL=dashboard.css.map */