@import "../../var";
.check-toggle {
  appearance: none;
  &:checked + .check {
    background-color: #ccc;
  }
  &:checked + .check::before {
    content: "\f00d";
    right: 48px;
    color: #aaa;
  }
}
.check {
  width: 76px;
  height: 32px;
  border-radius: 16px;
  background-color: var(--blue-color);
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  &::before {
    font-family: var(--fa-style-family-classic);
    content: "\f00c";
    font-weight: 900;
    background-color: white;
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 50%;
    top: 4px;
    right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue-color);
    transition: 0.3s;
  }
}
