@import "../../var";
.settings {
  > .row {
    > div {
      // col
      margin: 1rem 0px;
      // child
      > div {
        background-color: var(--main-color);
        border-radius: 15px;
      }
    }
    .control {
      h6 {
        font-size: 15px;
      }
      .title {
        h2 {
        }
      }
      > .status {
        h2 {
          font-size: 17px;
          font-weight: normal !important;
        }
      }
      > textarea {
        width: 100%;
        min-height: 150px;
        resize: none;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 10px;
        outline: none;
        color: #929292;
      }
    }
    // info
    .info {
      background-color: var(--main-color);
      > form {
        > .box {
          &:not(:first-child) {
            margin-top: 5px;
          }
          input {
            width: 100%;
            border: 1px solid #ccc;
            padding: 5px 10px;
            border-radius: 6px;
            margin-top: 8px;
          }
          &:last-child {
            > div:last-child {
              input:first-child {
                width: 85% !important;
                @include media("small") {
                  width: 100% !important;
                }
                // background-color: red;
              }
              input:last-child {
                background-color: var(--text-color);
                flex: 1;
                color: var(--main-color);
              }
            }
          }
        }
      }
    }
    .security {
      > .secureInfo {
        > .box:not(:last-child) {
          padding: 10px 0px !important;
          border-bottom: 1px solid #ccc;
        }
        a {
          padding: 5px 10px;
          border-radius: 6px;
          text-decoration: none;
        }
      }
    }
    // Social
    .social {
      // background-color: red;
      .box {
        height: 50px;
        &:not(:last-child) {
          margin-bottom: 10px;
        }
        .icon {
          border-radius: 6px 0 0 6px;
          height: 100%;
          display: grid;
          place-items: center;
          flex: 1 1;
          max-height: 100%;
          // padding: 4px;
          background-color: #f6f6f6;
          border: 1px solid #ddd;
          border-right: none;
          i {
            color: #888;
          }
        }
        > input {
          border: none;
          outline: none;
          height: 100%;
          width: 90%;
          background-color: #f6f6f6;
          border: 1px solid #ddd;
          padding-left: 10px;
          border-radius: 0 6px 6px 0;
          color: black;
          @include media("mobile") {
            width: 75%;
          }
        }
      }
    }
  }
  // Widgets
  /* */
  .widget {
    // background-color: red !important;
    > ul {
      li {
        cursor: pointer;
        position: relative;
        > input {
          appearance: none;
          &:checked + .checkDiv::before {
            transform: scale(1) rotate(0deg);
          }
          &:checked + .checkDiv::after {
            border-color: transparent;
          }
        }
        > .checkDiv {
          position: relative;
          &::before,
          &::after {
            width: 20px;
            height: 20px;
            position: absolute;
            border-radius: 4px;
            top: 3px;
            left: -36px;
          }
          &::before {
            content: "\f00c";
            font-family: var(--fa-style-family-classic);
            font-weight: 900;
            background-color: var(--blue-color);
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            transition: 0.5s;
            transform: scale(0) rotate(180deg);
          }
          &::after {
            content: "";
            border: 2px solid #888;
          }
        }
      }
    }
  }
}
